.Dateneingabeherosection {
    padding: 51px 0 260px 0;

    .Dateneingabeherosectioncontentmain {
        max-width: 400px;
        margin: 0 auto;
        padding: 0 20px;

        .Dateneingabeherosectioncontenttop {
            h1 {
                font-family: "Montserrat", sans-serif;
                font-weight: 300;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                color: #006037;
                margin: 0 0 20px 0;

                @media (max-width:768px) {
                    font-size: 30px;
                    line-height: 35px;
                }

                @media (max-width:576px) {
                    font-size: 28px;
                    line-height: 30px;
                }
            }

            p {
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #006037;
                margin: 0 0 20px 0;
            }
        }

        .Dateneingabeherosectioncontentbottom {
            h2 {
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
                color: #000;
                margin: 0 0 30px 0;
            }

            .slidedivandcontentmain {

                .slidedivmain {
                    max-width: 290px;
                    margin: 0 auto;
                }

                .slidecontent {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin: 12px 0 0 0;

                    span {
                        font-family: "Montserrat", sans-serif;
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 17px;
                        opacity: .5;
                        color: #000;
                    }
                }
            }

            .Weiterbutton {
                margin: 30px 0 0 0;
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 64px;
                background-color: #006037;
                border-radius: 10px;
                box-shadow: 0px 4px 34px 0px #00000026;
                padding: 20px 40px;
                border: 2px solid #006037;
                font-family: "Montserrat", sans-serif;
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: #fff;
                cursor: pointer;
                transition: .4s ease-in-out;

                &:focus {
                    outline: none;
                }

                &:hover {
                    background-color: transparent;
                    color: #000;
                }

                @media (max-width:768px) {
                    font-size: 18px;
                    line-height: 20px;
                }

                @media (max-width:576px) {
                    padding: 15px 20px;
                    max-width: none;
                    font-size: 16px;
                    height: 50px;
                }
            }
        }
    }
}

.DateneingabeherosectionVerkasse {
    padding: 50px 0 285px 0;

    .DateneingabeherosectionVerkassetitle {
        max-width: 606px;
        margin: 0 auto;
        padding: 0 20px;

        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 300;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #006037;
            margin: 0 0 20px 0;

            @media (max-width:768px) {
                font-size: 30px;
                line-height: 35px;
            }

            @media (max-width:576px) {
                font-size: 28px;
                line-height: 30px;
            }
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 34px;
            text-align: center;
            color: #006037;
            margin: 0 0 10px 0;

            @media (max-width:768px) {
                font-size: 18px;
                line-height: 20px;
            }

            @media (max-width:576px) {
                font-size: 16px;
                margin: 0 0 25px 0;
            }
        }
    }

    .DateneingabeherosectionVerkassebuttonsmain {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .DateneingabeherosectionVerkassecheckboxmain {
            margin: 0 0 25px 0;
            box-shadow: 0px 4px 34px 0px #00000026;
            background-color: #FBFBFB;
            padding: 20px 26px;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            .DateneingabeherosectionVerkassecheckboxalignment {
                display: grid;
                grid-template-columns: 24px 1fr;
                align-items: center;
                gap: 10px;

                .DateneingabeherosectionVerkassecheckboxdivmain {
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    input {
                        width: 16px;
                        height: 16px;
                        background-color: transparent;
                        border-radius: 0;
                        border: 2px solid #006037;
                        appearance: none;
                        cursor: pointer;
                        position: relative;

                        &:checked {
                            background-color: #fff;
                            border: 2px solid #006037;

                            &::after {
                                content: "\2713";
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                color: #006037;
                                font-size: 12px;
                                font-family: "Montserrat", sans-serif;
                                font-weight: 800;
                            }
                        }
                    }
                }

                p {
                    font-family: "Montserrat", sans-serif;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    color: #006037;

                    @media (max-width:768px) {
                        font-size: 18px;
                        line-height: 20px;
                    }

                    @media (max-width:576px) {
                        font-size: 16px;
                    }
                }
            }
        }

        .JaAndNeinbutton {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 64px;
            background-color: #006037;
            border-radius: 10px;
            box-shadow: 0px 4px 34px 0px #00000026;
            padding: 20px 40px;
            border: 2px solid #006037;
            font-family: "Montserrat", sans-serif;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            text-align: center;
            color: #fff;
            cursor: pointer;
            transition: .4s ease-in-out;

            &:focus {
                outline: none;
            }

            &:hover {
                background-color: transparent;
                color: #000;
            }

            @media (max-width:768px) {
                font-size: 18px;
                line-height: 20px;
            }

            @media (max-width:576px) {
                padding: 15px 20px;
                max-width: none;
                font-size: 16px;
                height: 50px;
            }
        }
    }
}