.header {
    padding: 28px 20px;
    display: flex;
    justify-content: center;
    background-color: #fff;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9;

    .headerlogo {
        width: 163px;

        @media (max-width:576px) {
            width: 150px;
        }
    }

    @media  (max-width:576px) {
        padding: 18px 20px;
    }
}