.Thanksinquirymodalmain {
    height: 100%;
    padding: 222px 0 216px 0;

    @media (max-width:576px) {
        padding: 120px 0;
    }

    .Thanksinquirymodalcontainer {
        max-width: 710px;
        margin: 0 auto;
    }

    .Thanksinquirymodaltitle {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 0 0 42px 0;

        @media (max-width:576px) {
            margin: 0 0 30px 0;
        }

        .Thanksinquirymodaltitletrueicon {
            width: 50px;
            height: 50px;
            min-width: 50px;

            svg {
                width: 100%;
                height: 100%;
            }

            @media (max-width:576px) {
                width: 30px;
                height: 30px;
                min-width: 30px;
                margin: 5px 0 0 0;
            }
        }

        h1 {
            font-family: "Montserrat", sans-serif;
            font-weight: 900;
            font-size: 40px;
            line-height: 48px;
            color: #000;

            @media (max-width:768px) {
                font-size: 30px;
                line-height: 35px;
            }

            @media (max-width:576px) {
                font-size: 28px;
                line-height: 30px;
            }
        }
    }

    .Thanksinquirymodalpera {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 79px 0;

        @media (max-width:576px) {
            margin: 0 0 30px 0;
        }

        p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: #000;
            max-width: 500px;

            span {
                font-weight: 700;
            }

            @media (max-width:768px) {
                font-size: 18px;
                line-height: 20px;
            }

            @media (max-width:576px) {
                font-size: 16px;
            }
        }
    }

    .Thanksinquirymodalbutton {
        max-width: 400px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 40px;
        font-family: "Montserrat", sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #fff;
        background-color: #006037;
        border-radius: 10px;
        cursor: pointer;
        border: 2px solid #006037;
        transition: .4s ease-in-out;

        &:hover {
            background-color: #fff;
            color: #000;
        }

        @media (max-width:768px) {
            font-size: 18px;
            line-height: 20px;
        }

        @media (max-width:576px) {
            padding: 15px 20px;
            max-width: none;
            font-size: 16px;
            height: 50px;
        }
    }
}